{{!--<ul>--}}
	{{!--{{#each}}--}}
		{{!--<li>{{this}}</li>--}}
	{{!--{{/each}}--}}
{{!--</ul>--}}

<div style="width: 1280px; height: 760px;">
  {{#each}}

      <img src="/images/ghost-128.png" {{bind-attr style=computedStyle}} />

  {{/each}}
</div>
